<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Password2.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Password2.Settings1>
            <setting name="User1" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>My password</value>
            </setting>
            <setting name="User2" serializeAs="String">
                <value />
            </setting>
            <setting name="Password2" serializeAs="String">
                <value />
            </setting>
        </Password2.Settings1>
    </userSettings>
</configuration>